*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent{
    height: 100vh;
    background-color: blue;
    width: 100vw;
}

body{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: black;
}

.calculator{
    width: 300px;
    height: 450px;

    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    grid-template-rows: repeat(6,1fr);

    border: 2px solid white;
    border-radius: 12px;
    overflow: hidden;
}

input{
    grid-area: 1 / 1 / 2 / -1;
    text-align: end;
    font-size: 30px;
    padding-right: 10px;
    outline: none;
}

button{
    font-size: 25px;
    background-color: black;
    color: white;
}

button:hover{
    border: 2px solid rgb(144, 234, 144);
}

button:active{
    color: red;
}

.eq{
    background-color: white;
    color: black;
}